body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.animated-gradient {
  animation: animateBg 3s linear infinite;
  background-image: linear-gradient(
    0deg,
    #344642,
    #36303b,
    #5c4942,
    #344642,
    #36303b
  );
  background-size: 100% 400%;
}

@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Add this CSS to your stylesheet */
@keyframes blink {
  0% {
    color: red;
  }
  50% {
    color: transparent;
  }
  100% {
    color: red;
  }
}

.blink {
  animation: blink 1s step-start infinite;
}


nav {
  background-color: #f8f8f83b;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav button {
  background-color: red;
  color: white;
  border: none;
  margin-top: 0;
  /* padding: 10px; */
  cursor: pointer;
  align-items: center;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
}

#quizContainer {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff33;
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.164);
  max-width: 900px;
  border-radius: 10px;
}

#leftPanel {
  flex: 2;
  margin-right: 20px;
  text-align: left;
}

#rightPanel {
  flex: 1;
  text-align: left;
}

#timer {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
  border: 5px solid;
  width: 80px;
  border-radius: 30%;
  border-color: #34c759;
  padding-left: 20px;
}

#optionsList {
  list-style: none;
  padding: 0;
}

#optionsList li {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#optionsList li.selected {
  background-color: #007bff;
  color: white;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(0, 132, 255);
  border-radius: 10px;
}

#questionList {
  list-style: none;
  padding: 0;
}

#questionList li {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

#questionList li.correct {
  background-color: #d4edda;
}

#questionList li.incorrect {
  background-color: #f8d7da;
}

#resultCard {
  display: none;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff33;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  border-radius: 10px;
}

.correct {
  background-color: #c6efce;
}

.correct:hover {
  background-color: #34c759;
}

.incorrect {
  background-color: #f7cac9;
  cursor: pointer;
}

.incorrect:hover {
  background-color: #e74c3c;
}
